client/**/*.css text eol=lf
client/**/*.js text eol=lf
client/**/*.json text eol=lf
client/**/*.md text eol=lf
client/**/*.mjs text eol=lf
client/**/*.ts text eol=lf
client/**/*.tsx text eol=lf
server/**/*.ts text eol=lf
