MONGO_URI=mongodb://localhost:27017/jobportal?replicaSet=rs0
REDIS_URL=redis://localhost:6379

NODE_ENV=development
PORT=5000


JWT_SECRET=your-long-random-secret-min-32-characters
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=7